%h1 Listing medics
%table
  %tr
    %th
    %th
    %th
  - @medics.each do |medic|
    %tr
      %td= link_to 'Show', medic
      %td= link_to 'Edit', edit_medic_path(medic)
      %td= link_to 'Destroy', medic, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Medic', new_medic_path
