#tabs
  %ul
    %li{:title => "Outbreak reporter"}
      %a#tabs_a_link{:href => "#tabs_a"} Reporter
    %li{:title => "Outbreak details"}
      %a#tabs_b_link{:href => "#tabs_b"} Outbreak
    %li{:title => "Incident locations"}
      %a#tabs_c_link{:href => "#tabs_c"} Location
    %li{:title => "Pathogen agents"}
      %a#tabs_d_link{:href => "#tabs_d"} Causative Agent
    %li{:title => "Risk factors"}
      %a#tabs_e_link{:href => "#tabs_e"} Associated Agents
  #tabs_a
  #tabs_b
  #tabs_c
  #tabs_d
  #tabs_e
