<div id="tabs">
		<ul>
			<li title="Outbreak reporter"><a href="#tabs_a" id="tabs_a_link">Reporter</a></li>
			<li title="Outbreak details"><a href="#tabs_b" id="tabs_b_link">Outbreak</a></li>
			<li title="Incident locations"><a href="#tabs_c" id="tabs_c_link">Location</a></li>
			<li title="Pathogen agents"><a href="#tabs_d" id="tabs_d_link">Causative Agent</a></li>
			<li title="Risk factors"><a href="#tabs_e" id="tabs_e_link">Associated Agents</a></li>
	
			
		</ul>	
		<div id="tabs_a">
		</div>
		<div id="tabs_b">
		</div>
		<div id="tabs_c">
		</div>
		<div id="tabs_d">
		</div>
		<div id="tabs_e">
		</div>
</div>
		
