div.form-container { margin: 10px 0; padding: 5px; background-color: #FFF; border: #EEE 1px solid; font-size: 1.2em;}

div.form-container fieldset { margin: 10px 0; padding: 10px; border: #DDD 1px solid; }
