<h4>Welcome to the Health Protection Agency - British Paediatric Surveillance Unit study database for Haemolytic Uraemic Syndrome Surveillance.</h4>
<p>Thank you for reporting a case of HUS through the BPSU Orange Card system. Please sign in to complete a short questionnaire about the case.</p>
<br/>
<p>This study aims to further the understanding of the epidemiology of HUS in the UK and Ireland. We hope to better measure the incidence of disease and to describe clinical and demographic features. A one year follow up will provide useful information on the outcomes of illness. By linking cases reported through this study to the Enhance Surveillance of VTEC in England system, we will seek to identify factors associated with an increased risk of developing HUS, in the hope that we might, in the future, be in a position to prevent at risk children from developing HUS after a VTEC infection.</p> 
<br/>
<p>BPSU surveillance will be undertaken for 13 months, commencing in October 2011. A follow-up questionnaire will be issued one year after the case is reported. Health Protection Agency</p>
<br/>
<p>For enquiries please contact</p>
<br/>
<p>Naomi Launders, Sue LeBaigue (Epidemiology) or Garan Jones (Technical) at: vtec@hpa.org.uk</p>
